.message-container {
  display: flex;
  flex-direction: column;
}

.sent {
  align-self: flex-end;
  background-color: #DCF8C6;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 10px;
}

.received {
  align-self: flex-start;
  background-color: #E5E5EA;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 10px;
}
.input-msg {
  width: 70%;
}
.submit-btn{
  height:80%;
  
}