<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar >
    <ion-title>App Name</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" ></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <!-- add more content -->
</ion-content>