<HeaderComponent [title]="pageTitle"></HeaderComponent>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card [routerLink]="['/tabs/tab1/maths']">
          <ion-card-header>
            <ion-card-title>School of Mathematics & Statistics</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Contains Accounting, Finance, Mathematics & Statistics, Statistics & Data Analytics, Mathematics / Applied Mathematics, Online MSc in Data Analytics</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>School of Education</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Contains Childhood Practice, Community Development, Education with Primary Teaching Qualification</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>School of Infection & Immunity</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Contains Immunology, Microbiology, Bioinformatics, Immunology & Inflammatory Disease</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


