<HeaderComponent [title]="pageTitle"></HeaderComponent>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card [routerLink]="['/tabs/tab1/maths']">
          <ion-card-header>
            <ion-card-title>School of Mathematics & Statistics</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Contains Accounting, Finance, Mathematics & Statistics courses</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Science</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>This section includes Physics, Chemistry, Biology, and other natural sciences.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>English</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Explore topics in Literature, Writing, Grammar, and more.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


