<HeaderComponent [title]="pageTitle"></HeaderComponent>

<ion-content>
  <ion-toolbar color="primary">
    <ion-title>
      Undergraduate
    </ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card [routerLink]="['/tabs/tab1/maths/accmaths']">
          <ion-card-header>
            <ion-card-title>Accounting & Mathematics</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Accounting & Statistics</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Finance & Mathematics</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Finance & Statistics</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mathematics</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Statistics</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar color="secondary">
    <ion-title>
      Postgraduate
    </ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Statistics & Data Analytics</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mathematics / Applied Mathematics</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Online MSc in Data Analytics</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>