ion-content {
	--padding-top:90%;
	--padding-start: 10%;
	--padding-end: 10%;
	--background: url('https://i.pinimg.com/736x/e3/22/7d/e3227dd769230071b11cdef1e6ea4132.jpg')
		0 0/100% 100% no-repeat;
}

.input-group {
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 15px;
  opacity: 0.7;
}

.header-title {
  opacity:1;
  padding-bottom:20%;
  color:white;
  size:2rem;
}