

<ion-content class="background">
  <ion-content class="login-box">
  <ion-title class="header-title">Welcome to AppName<br>Please sign In</ion-title>
  <div class="input-group">
    <ion-item>
      <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </div>
  <ion-button (click)="signIn()" expand="block">Log in</ion-button>

  <ion-text color="danger" *ngIf="loginError" >
    Invalid email or password. Please try again.
  </ion-text>
 <ion-button class="create-user" expand="block" color="dark" fill="clear" (click)="goToSignUp()">Not registered? Sign up!</ion-button>
</ion-content>
</ion-content>